a:link {
  text-decoration: none;
  color: #12C391;
}

a:visited {
  text-decoration: none;
  color: #12C391;
}

a:hover {
  text-decoration: underline;
  color: #12C391;
}

a:active {
  text-decoration: underline;
  color: #12C391;
}

