.nav-head a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: xx-large;
}

nav {
  background-color: #004B7F;
  padding: 5px;
}

nav div {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 7px;
  margin-bottom: 5px;
  font-size: large;
}

.nav-item {
  display: inline;
}

.btn-nav {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  text-decoration: none;
}

.btn-nav:link {
  background-color: #004b7f;
  color: #ffffff;
}

.btn-nav:visited {
  background-color: #004b7f;
  color: #ffffff;
}

.btn-nav:hover {
  background-color: #00365b;
  color: #ffffff;
}

.btn-nav:active {
  background-color: #00365b;
  color: #ffffff;
}

.btn-nav a {
  color: #ffffff;
}

a.btn-nav:link {
  text-decoration: none;
}

a.btn-nav:visited {
  text-decoration: none;
}

a.btn-nav:hover {
  text-decoration: none;
}

a.btn-nav:active {
  text-decoration: none;
}
