body {
  background-color: #232D35;
  color: #FFFFFF;
}

div.highlight {
  border-radius: 3px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

div.highlight pre {
  display: block;
  white-space: pre;
  padding: 5px;
  margin: 0px;
}

dl {
  background-color: #333d44;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 5px;
  border-radius: 3px;
}

dt {
  font-size: large;
}

ul.pagelist {
  list-style-type: none;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}
