<!DOCTYPE html>
<html lange="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="{{ author }}">
    <link rel="stylesheet" href="/page.css">
  </head>
  <body>
    <nav>
      <ul class="nav-list">
        {% for page_dir in page_dirs %}
        <li class="nav-item"><a href="fkoehler.org/{{ page_dir }}">{{ page_dir }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    {{ content }}
  </body>
</html>
